custom-chainlit==2.5.5
custom-docx==0.2.4
custom-email-validator==2.1.0.post1
custom-flask==3.0.3
custom-flask-sqlalchemy==3.1.1
custom-gunicorn==23.0.0
custom-psycopg2-binary==2.9.9
custom-pypdf2==3.0.1
custom-python-docx==1.1.2
custom-requests==2.31.0
custom-sqlalchemy==2.0.29
custom-weaviate-client==4.13.2
custom-werkzeug==3.0.1